attrs==20.3.0
Automat==20.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
constantly==15.1.0
docutils==0.16
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
mysql-connector-python==8.0.23
Naked==0.1.31
pip==19.0.3
protobuf==3.15.6
PyAudio==0.2.11
pycryptodome==3.10.1
pycryptodomex==3.10.1
pygame==1.9.6
Pygments==2.7.3
PyHamcrest==2.0.2
PyYAML==5.4.1
requests==2.25.1
setuptools==40.8.0
shellescape==3.8.1
six==1.15.0
Twisted==20.3.0
urllib3==1.26.2
zope.interface==5.2.0
