aiofiles==0.4.0
aiologger==0.5.0
altgraph==0.17
appdirs==1.4.3
attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
constantly==15.1.0
cryptography==3.4.6
defusedxml==0.6.0
dict-toolbox==1.12
distlib==0.3.0
docutils==0.16
espn-api==0.14.1
filelock==3.0.12
future==0.18.2
google==3.0.0
hyperlink==21.0.0
idna==2.9
importlib-metadata==1.5.0
incremental==17.5.0
keyboard==0.13.5
msgpack==1.0.0
Naked==0.1.31
nba-api==1.1.9
numpy==1.17.0
pandas==0.25.3
pefile==2019.4.18
Pillow==7.2.0
pop==14
pop-config==6.10
PyAudio==0.2.11
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
pygame==1.9.6
Pygments==2.6.1
PyHamcrest==2.0.2
PyInstaller==3.6
pypiwin32==223
python-dateutil==2.8.1
pytz==2021.1
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.23.0
scapy==2.4.4
shellescape==3.8.1
six==1.14.0
soupsieve==2.0.1
sports.py==2.0.10
spotify-local-control==0.2.3
Twisted==20.3.0
urllib3==1.25.8
virtualenv==20.0.10
zipp==3.1.0
zope.interface==5.2.0
